.elenco{
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
        padding-bottom: 40px;
        list-style: none;

        &__item {
            &:hover {
                scale: 105%;
                background-color: #000;
            }

            &__actor {
                padding-top: 8px;
            }
        }
    }

    &__director {
        display: flex;

        img:hover {
            scale: 105%;
            background-color: #000;
        }

        &__about {
            margin-left: 40px;            
            position: relative;


            &__title {
                padding-bottom: 20px;
            }

            &__movies {
                position: absolute;
                bottom: 40px;
            }
        }
    }
}