.header{
    position: fixed;
    width: 100%;
    background-color: #000;
    transition: background-color 1s ease;
    z-index: 1;

    &--is-hidden{
        background-color: transparent;
        transition: background-color 1s ease;
        
        .header__logo {
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease;
        }

    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo{
        height: 75px;
        padding-left: 40px;
        transition: opacity 1s ease;

        @media (max-width: 768px) {
            height: 40px;
        }
    }

    &__links{
        display: flex;
        padding-right: 40px;
        &__item {
            list-style: none;
            padding-left: 20px;
            a{
                text-decoration: none;
                color: #fff;

                @media (max-width: 768px) {
                    font-size: 14px;;
                }
            } 
        }
    }
}
