@use 'hero';
@use 'header';
@use 'trailers';
@use 'elenco';
@use 'linha-temporal';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin text($fontsize:20px) {
    font-size: $fontsize;
    color: #fff;
    font-weight: normal;
}

.text--giant {
    @include text(28px);
}

.text--big {
    @include text(24px);
}

.text {
    @include text;
}

.text--small {
    @include text(18px)
}

.title {
    padding-top: 80px;
    padding-bottom: 24px;
    text-transform: uppercase;
}

.content {
    background-color: #000;
    border-radius: 80px 80px 0 0;
}

section {
    max-width: 1140px;
    margin: auto;
    padding: 0 40px;
}

body {
    background-image: url(../images/outros/back.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
} 
footer {
    display: flex;
    background-color: #000;
    justify-content: center;
    padding: 80px;
}